# Игнорим всё тяжелое под корень
venv/
.venv/
.git/
.cache/
hf_cache/
storage_context/

# Игнорим папки моделей (они проброшены через volumes)
reranker*/
sber_model/
m3_model/
onnx/

# Игнорим все тяжелые бинарники
*.gguf
*.safetensors
*.bin
*.pth
*.onnx
*.pt
*.tar.gz
*.zip
*.jsonl

# Разрешаем только код
!requirements.txt
!main.py
!main_api.py
!engine_rag.py
!rag_fns.py
!Dockerfile*
